* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jura", sans-serif;
  letter-spacing: 0.01rem;
}

.language-switch {
  margin-left: 20px;
}
/*==== NAVIGATION BAR ====*/
.nav-bar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
  position: relative;
}

.nav-bar ul {
  display: flex;
  list-style-type: none;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
}

.nav-bar li {
  margin-right: 20px;
  padding: 20px;
}

.nav-bar a {
  text-decoration: none;
  padding: 10px;
  border-radius: 20px;
  color: blue;
}

.nav-bar a:visited {
  color: blue;
}

.nav-bar li a:hover {
  background-color: rgb(42, 122, 212);
  color: white;
  border-radius: 20px;
}
#logo {
  max-width: 85px;
  height: auto;
  object-fit: cover;
  border-radius: 100px;
  margin: 0 20px;
}

/*==== WELCOME MESSAGE ====*/
.welcome-message {
  display: flex;
  width: 100%;
  max-width: 500px;
  margin: 50px auto;
}

.welcome-message p {
  text-align: center;
  font-size: clamp(1rem, 1.3vw + 0.5rem, 1.3rem);

  line-height: 1.3;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.862);
  animation: fade-in 3s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.welcome-p-mobile {
  display: none;
  font-size: clamp(12px, 1.3rem, 48px);
}

/*==== ARRIVAL INFO ====*/
.arrival-info {
  display: flex;
  width: 100%;
  max-width: 1000px;
  height: auto;
  margin: 0 auto;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
}

.check-in-out,
.wifi {
  width: 100%;
}

.check-in-out h1,
.wifi h1,
.location h1 {
  font-size: clamp(1.2rem, 1.3vw, 1.5rem);
  font-weight: 500;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}

.check-in-out li,
.wifi li {
  list-style-type: none;
  line-height: 1.5;
  font-size: clamp(1rem, 1.3vw, 1.1rem);
  letter-spacing: 1px;
  font-weight: 500;
}

.check-in-out a:hover {
  transform: scale(1, 05);
  transition: transform 0.3s ease;
}

.wifi {
  margin-top: 50px;
}

.location iframe {
  width: 100%;
  height: auto;
  border-radius: 20px;
  aspect-ratio: 4 / 3;
}

.check-in-out i,
.wifi i,
.location i {
  margin-right: 10px;
  font-size: 15px;
}

/* ========== check-in--out-instructions ========== */
.check-in-container,
.check-out-info {
  display: flex;
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: 0 auto;
  margin-top: 60px;
}

.check-in-text p,
.check-out-info p {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.03rem;
  line-height: 1.2;
}

.check-in-text h1 {
  padding-left: 20px;
}

.check-out-info li {
  width: 100%;
  letter-spacing: 0.03rem;
  line-height: 1.2;
  font-weight: 500;
  line-height: 1.2;
}

.check-out-info ul {
  padding: 10px 20px;
  list-style-type: none;
}

.check-out-info a,
.check-in-text a {
  font-size: 1rem;
  color: #4b71dc;
  font-weight: 500;
}
/*==== RECOMMEDATIONS ====*/
.recommedations-grid {
  display: grid;
  width: 100%;
  max-width: 1000px;
  height: auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  margin: 0 auto;
  margin-top: 80px;
}

.recommedations-container {
  position: relative;
}

.recommedations-container img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
  aspect-ratio: 4 / 3;
}

.recommedations-container a {
  position: relative;
  display: block;
}

.recommedations-container p {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  text-align: center;
  width: 100%;
  font-weight: bold;
  margin: 0;
  font-size: clamp(1rem, 1.3vw, 1.2rem);
}

.others {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
  aspect-ratio: 4 / 3;
  background-color: rgba(115, 156, 173, 0.167);
  border-radius: 20px;
}

.others ul {
  padding-left: 22px;
}

.others a {
  text-decoration: none;
  color: black;
  font-size: clamp(1.1rem, 1.3vw, 1.2rem);
}

.others li {
  line-height: 1.5;
  padding: 5px;
}
.others li:hover {
  background-color: rgba(214, 219, 221, 0.8);
  border-radius: 20px;
}

.restaurants:hover,
.beaches:hover,
.attractions:hover,
.cultural-historic-sites:hover,
.activities:hover {
  transform: scale(1.05);
  cursor: pointer;
  padding: 0;
}
/*==== CARTS ====*/
.container-wrap {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  margin: 0 auto;
  margin-top: 80px;
}

.activities-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 1px rgba(0, 0, 1, 0.5);
  border-radius: 30px;
  padding: 20px 20px;
  margin-top: 30px;
  width: 100%;
  max-width: 320px;
  height: 500px !important;
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 1px rgba(0, 0, 1, 0.5);
  border-radius: 30px;
  padding: 15px 15px;
  width: 100%;
  max-width: 300px;
  height: 450px;
  margin: 0 auto;
}

.cultural {
  height: 500px;
}

.cultural h3 {
  font-size: 0.95rem;
  text-align: center;
  margin-top: 10px;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s, transform 0.2s;
}

.card-img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
  aspect-ratio: 4 / 3;
}

.card .info {
  max-width: 280px;
  height: auto;
  text-align: center;
  margin-top: 15px;
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: 0.05rem;
  margin-bottom: 20px;
}

.map-link {
  display: block;
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
  margin-top: auto;
  border-radius: 30px;
  background-color: rgba(225, 232, 229, 0.641);
  letter-spacing: 0.07rem;
  font-weight: 500;
  color: rgb(55, 55, 195);
  width: 140px;
  padding: 10px;
  transition: all 0.3s ease;
  font-size: 0.9rem;
}

.map-link:hover {
  background-color: rgb(42, 42, 181);
  color: rgb(255, 252, 252);
}

.wiki-link {
  display: block;
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
  border-radius: 30px;
  background-color: rgba(225, 232, 229, 0.641);
  letter-spacing: 0.07rem;
  font-weight: 500;
  color: rgb(55, 55, 195);
  width: 150px;
  padding: 10px;
  transition: all 0.3s ease;
  font-size: 0.9rem;
}

.wiki-link:hover {
  background-color: rgb(42, 42, 181);
  color: rgb(255, 252, 252);
}

/*==== WEATHER ====*/
.weather {
  width: 100%;
  max-width: 1000px;
  height: auto;
  margin: 80px auto;
}

.weatherwidget-io {
  border-radius: 30px;
}

/*==== HOYSE RULES ====*/
.house-rules {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin: 50px auto;
}

.house-rules li {
  line-height: 1.5;
  margin-top: 15px;
}

.house-rules p {
  margin-top: 15px;
}
/*==== FOOTER ====*/
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
  margin-top: 80px;
  padding: 20px;
}

.emergency-contacts,
.transports,
.contacts,
.social {
  height: 100px;
  margin-bottom: 50px;
  padding-right: 20px;
}

.emergency-contacts h2,
.transports h2,
.contacts h2 {
  font-size: 1.3rem;
  margin-bottom: 10px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.862);
}

.social h2 {
  font-size: 1.3rem;
  font-weight: 400;
}

.emergency-contacts li,
.transports li,
.contacts li {
  list-style-type: none;
  line-height: 1.5;
}

.emergency-contacts a:visited,
.transports a:visited,
.contacts a:visited {
  color: blue;
}

.whatsapp-icon-top {
  color: #25d366;
  font-size: 18px !important;
}

.emergency-contacts i,
.transports i,
.contacts i {
  margin-right: 10px;
  font-size: 15px;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social svg {
  margin-top: 10px;
  width: 50px;
  height: 50px;
}

/*==== RESPONSIVE ====*/
@media (max-width: 768px) {
  /*==== NAV-BAR MOBILE====*/
  .nav-bar {
    flex-direction: column;
    margin-bottom: 30px;
    height: 200px;
    width: 100%;
  }

  .nav-bar ul {
    width: 100%;
    height: auto;
    overflow-y: hidden;
    overflow-x: scroll;
  }

  .language-switch {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
  }

  /*==== WELCOME MESSAGE MOBILE ====*/
  .welcome-message {
    display: none;
  }

  .welcome-p-mobile {
    display: flex;
    width: 80%;
    max-width: 500px;
    height: auto;
    margin: 10px auto;
    text-align: center;
    margin-bottom: 40px;
    animation: fade-in 3s;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(-100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  /*==== ARRIVAL INFO MOBILE ====*/
  .arrival-info {
    flex-direction: column;
    width: 90%;
    text-align: center;
  }

  .check-in-out,
  .wifi {
    text-align: center;
    padding: 0;
  }

  .wifi {
    margin-top: 80px;
  }

  .location {
    margin-top: 80px;
  }

  .location iframe {
    aspect-ratio: 16 / 9;
  }

  /*==== RECOMMEDATIONS MOBILE ====*/
  .recommedations-container {
    width: 85%;
    margin: 0 auto;
  }

  .recommedations-container img {
    aspect-ratio: 16 / 9;
  }

  .others {
    aspect-ratio: 16 / 9;
  }
  /*==== WEATHER MOBILE ====*/
  .weather {
    flex-direction: row;
    max-width: 500px;
    width: 85%;
  }

  /*==== HOUSE RULES MOBILE ====*/
  .house-rules {
    width: 80%;
  }

  /* ====== CHECK-IN-OUT INSTRACTIONS MOBILE ====== */
  .check-in-container,
  .check-out-info {
    flex-direction: column;
  }

  .check-in-container img,
  .check-out-info img {
    display: none;
  }

  /*==== FOOTER MOBILE ====*/
  footer {
    width: 100%;
    flex-direction: row;
  }

  .emergency-contacts,
  .transports,
  .contacts,
  .social {
    margin: 0 auto;
    padding: 10px;
    font-size: 0.85rem;
    width: 500px;
    align-content: center;
    text-align: center;
  }

  .emergency-contacts {
    margin-bottom: 30px;
    position: relative;
  }

  .transports,
  .contacts,
  .social {
    margin-top: 40px;
  }

  .transports li,
  .contacts li,
  .social li {
    line-height: 1.8;
  }

  /*
  .transports {
    order: 1;
  }

  .contacts {
    order: 2;
  }

  .emergency-contacts {
    order: 3;
    margin-top: 40px;
  }*/
}

/*@media (max-width: 1100px) {
  .check-in-container {
    width: 800;
    height: auto;
    margin: 40px auto;
  }

  .check-in-container,
  .check-out-info {
    flex-direction: column;
    padding: 0;
  }

  .check-in-container img,
  .check-out-info img {
    display: none;
  }
} */
